@model employee_management_agile.Models.LoginModel;

<h2>User Page</h2>

<p>Welcome, @User.Identity!.Name! You are logged in as an employee.</p>
<a asp-action="GetAllEmployees" class="btn btn-primary">View Employees</a>
<a asp-action="LogoutPage" class="btn btn-secondary">Logout</a>
