@{
    ViewData["Title"] = "Logout";
}
<h2>Logout</h2>

<p>You have been logged out successfully.</p>


<div class="alert alert-success" role="alert">
    @TempData["LogoutMessage"]
</div>

<a asp-action="LoginPage" asp-controller="Login" class="btn btn-primary">Login Again</a>

